@import url(https://fonts.googleapis.com/css?family=Lato:700);
@import url(
  https://fonts.googleapis.com/css?family=Lato:400,
  100,
  100italic,
  300,
  300italic,
  400italic,
  700italic,
  700,
  900italic,
  900
);
@import url(
  https://fonts.googleapis.com/css?family=Raleway:400,
  100,
  200,
  300,
  500,
  600,
  700,
  800,
  900
);
@import url(
  https://fonts.googleapis.com/css?family=Raleway:400,
  100,
  200,
  300,
  500,
  600,
  700,
  800,
  900
);

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: rgb(223, 216, 216);
}

/* ************************* Navbar *************************** */

#nav-bar {
  height: 4.5em;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

#nav-bar .ml-auto {
  align-items: center;
}

/* ************************* Hero Image *************************** */

#hero-image {
  height: 35em;
  text-align: center;
  text-align: bottom;
  /* background-image: url("/pictures/hero-image.jpg"); */
  color: black;
  background:
    /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */ url('/pictures/hero-image.jpg');
  color: white;
}

#hero-image .container {
  margin-top: 15em;
}

/* ************************* How It Works *************************** */

.how-it-works {
  text-align: center;
  height: 50em;
}

.how-it-works:after {
  content: ''; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 80%; /* Change this to whatever width you want. */
  padding-top: 8em; /* This creates some space between the element and the border. */
  border-bottom: 1px solid darkgrey; /* This creates the border. Replace black with whatever color you want. */
}

.how-it-works h1 {
  margin-bottom: 2em;
  margin-top: 2em;
}

.how-it-works .description {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.how-it-works .card {
  /* border: 5px solid green; */
  border: none;
  margin-right: 50px;
  margin-left: 50px;
  align-items: center;
  width: 18em;
  height: 28em;
  background: none;
}

.how-it-works img {
  height: 6em;
  width: 6em;
}

.how-it-works h2 {
  margin-top: 1em;
}

.how-it-works .long-info {
  margin-top: 1em;
  font-size: 1.2em;
  /* width: 17em; */
  /* text-align: left; */
}

.how-it-works button {
  margin-top: 2em;
  width: 25em;
  height: 3em;
}

/* ************************* Pricing *************************** */

.pricing-intro {
  margin-top: 10em;
  text-align: center;
  height: 12em;
}

.pricing-intro:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 80%;
  padding-top: 1em;
  border-bottom: 1px solid darkgrey;
}

.pricing .pricing-cards {
  display: flex;
  justify-content: center;
  margin-top: 4em;
  flex-wrap: wrap;
}

.pricing .pricing-cards:after {
  content: ''; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 80%; /* Change this to whatever width you want. */
  padding-top: 8em; /* This creates some space between the element and the border. */
  border-bottom: 1px solid darkgrey; /* This creates the border. Replace black with whatever color you want. */
}

.pricing .pricing-cards .card {
  width: 23em;
  height: 35em;
  text-align: center;
  border: 1px solid darkgrey;
  margin-left: 2em;
  margin-right: 2em;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.pricing .pricing-cards .header {
  font-size: 2em;
  height: 2em;
  width: 100%;
  background-color: #007bff;
  color: white;
}

.pricing .pricing-cards .price {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 5em;
  font-size: 3em;
  font-weight: bold;
}

.pricing .pricing-cards .kg {
  font-size: 0.5em;
}

.pricing .pricing-cards button {
  margin-top: 1em;
  width: 80%;
}

.pricing .pricing-cards .details {
  font-size: 20px;
  text-align: left;
  list-style-position: inside;
  margin-top: 1em;
}

.pricing .pricing-cards .details li {
  margin: 0.4em;
}

/* ************************* FAQ *************************** */

.faq:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 80%;
  padding-top: 8em;
  border-bottom: 1px solid darkgrey;
}

.faq h1 {
  text-align: center;
  margin-top: 4em;
  font-weight: bolder;
  font-size: 3em;
}

.faq .container {
  margin-top: 2em;
  min-height: 40em;
}

.faq h2 {
  font-size: 2.5em;
  font-weight: bolder;
}

.faq p {
  font-size: 1.5em;
}

/* ************************* Testimonials *************************** */

.testimonials {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  flex-direction: column;
  align-items: center;
}

.testimonials:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 80%;
  padding-top: 8em;
  border-bottom: 1px solid darkgrey;
}

.media * {
  color: #ffffff;
}
.media img {
  padding: 3px;
  border: 2px solid #ffffff;
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 50%;
}
.tm {
  margin-bottom: 0px;
  clear: both;
}
.media {
  color: #ffffff;
  margin-bottom: 20px;
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
}
.media h3 {
  font-size: 20pt;
  line-height: normal;
  margin: 0;
  padding-bottom: 5px;
  font-family: 'Rokkitt';
  font-style: normal;
}
.bubble {
  position: relative;
  width: 560px;
  padding: 20px;
  background: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
}

.bubble.animated.bounceIn {
  width: 70em;
  font-size: 1.2em;
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 12px 12px;
  border-color: #ffffff transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -12px;
  left: 73px;
}
.media-body {
  padding-top: 5px;
}

.intro *,
.intro {
  color: #ffffff;
  text-align: Center;
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
}

/* ************************* Map *************************** */
.map {
  text-align: center;
}

/* ************************* About *************************** */

.about {
  text-align: center;
  margin-top: 3em;
}

.about:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 80%;
  padding-top: 8em;
  border-bottom: 1px solid darkgrey;
}

.about .container {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}

/* ************************* Footer *************************** */

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
}

/* ************************* Choose Service *************************** */

.choose-service .container {
  border: 1px solid black;
  height: 31em;
  width: 63em;
  float: left;
  margin-left: 6em;
  background-color: white;
  margin-top: 3em;
  margin-bottom: 2em;
}

.choose-service .container h2 {
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-top: 0.5em;
  font-weight: bold;
}

.choose-service .container .cards {
  height: 25em;
  display: flex;
  justify-content: space-around;
}

.choose-service .container .cards .card {
  border: 2px solid black;
  height: 100%;
  width: 17em;
  transition: all 0.2s ease-in-out;
}

.choose-service .container .cards .card-selected {
  border: 2px solid black;
  height: 100%;
  width: 17em;
  filter: brightness(50%);
  background-color: lightblue;
  transform: scale(1.03);
}

.choose-service .container .card header {
  height: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border-bottom: 1px solid black;
}

.choose-service .container .card-selected header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1em;
  border-bottom: 1px solid black;
  font-size: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.choose-service .container .cards .card:hover {
  filter: brightness(50%);
  transform: scale(1.03);
}

.choose-service .container .price-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15em;
  border-bottom: 1px solid black;
}

.choose-service .container .price {
  font-size: 3em;
}

.choose-service .container .points {
  font-size: 1.2em;
}

/* ************************* Order Summary *************************** */

.order-summary {
  margin-top: 3em;
  border: 1px solid black;
  margin-left: 70em;
}

.order-summary .fix-this {
  position: fixed;
  margin-top: 5em;
  width: 18.5em;
  border: 1px solid black;
  background-color: white;
  margin-right: 1em;
}

.order-summary .delivery-details {
  height: 7em;
  font-size: 1.1em;
  padding-left: 1em;
  padding-top: 0.5em;
  border-bottom: 1px solid black;
}

.order-summary .delivery-points {
  height: 13em;
  font-size: 1.1em;
  padding-left: 1em;
  padding-top: 2em;
  border-bottom: 1px solid black;
}

.order-summary .price-estimate {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  background-color: darkgrey;
  color: blue;
}

/* ************************* Collection date *************************** */

.collection-date {
}

.collection-date h2 {
  margin-top: 1em;
  margin-left: 0.5em;
}

.collection-date h4 {
  margin-left: 1em;
  margin-top: 1.5em;
}

.collection-date .buttons {
  margin-left: 2em;
  margin-top: 1em;
}

.collection-date .button {
  border: 1px solid black;
  border-radius: 5px;
  height: 5em;
  width: 5em;
  background-color: rgba(4, 70, 170, 0.94);
  color: white;
  font-size: 1em;
}

.collection-date .button-selected {
  border: 1px solid black;
  border-radius: 5px;
  height: 6em;
  width: 6em;
  background-color: orange;
  font-size: 1em;
  color: white;
}

.collection-date .button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* .collection-date .button:focus
{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  background-color: orange;
} */

/* ************************* Return Time *************************** */

.return-time {
  margin-top: 4em;
}

.return-time h2 {
  margin-left: 0.5em;
  font-size: 1.5em;
}

.return-time h4 {
  margin-left: 1em;
  margin-top: 1em;
}

.return-time .description {
  margin-left: 1.5em;
  font-size: 1.5em;
}

.return-time .buttons {
  margin-left: 2em;
  margin-top: 1em;
}

.return-time .button {
  border: 1px solid black;
  border-radius: 5px;
  height: 5em;
  width: 5em;
  background-color: rgba(4, 70, 170, 0.94);
  color: white;
  font-size: 1em;
}

.return-time .button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.return-time .button-selected {
  border: 1px solid black;
  border-radius: 5px;
  height: 6em;
  width: 6em;
  background-color: orange;
  font-size: 1em;
  color: white;
}

.return-time .button:disabled {
  background-color: rgb(46, 43, 43);
  color: black;
}

/* ************************* Collect-Return Time *************************** */

.collect-return {
  border: 1px solid black;
  height: 25em;
  width: 63em;
  float: left;
  margin-left: 6em;
  background-color: white;
}

/* ************************* Collection Time *************************** */

.collect {
  display: flex;
  justify-content: space-around;
}

.collection-time-container {
  margin-top: 3em;
}

.collection-time-container h4 {
  margin-bottom: 1em;
}

.collect-appointment-available {
  display: flex;
  flex-wrap: wrap;
  width: 25em;
  font-size: 1.2em;
  max-height: 40em;
  border: 1px solid black;
}

.collect-appointment-available .appointment-time {
  border: 1px solid black;
  margin: 0.5em;
  margin-left: 1em;
}

.collect-appointment-available .appointment-time-active {
  border: 1px solid black;
  margin: 0.5em;
  margin-left: 1em;
  background-color: orange;
}

/* ************************* Return Appointments *************************** */

.return {
  display: flex;
  justify-content: space-around;
}

.return-time-container h4 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.return-appointment-available {
  display: flex;
  flex-wrap: wrap;
  width: 25em;
  font-size: 1.2em;
  max-height: 40em;
  border: 1px solid black;
}

.return-appointment-available .return-time {
  border: 1px solid black;
  margin: 0.5em;
  margin-left: 1em;
}

.return-appointment-available .return-time-active {
  border: 1px solid black;
  margin: 0.5em;
  margin-left: 1em;
  background-color: orange;
}

/* ************************* Laundry Info *************************** */

.laundry-info {
  border: 1px solid black;
  min-height: 33em;
  width: 63em;
  float: left;
  margin-left: 6em;
  background-color: white;
  margin-top: 3em;
}

.laundry-info-container {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
}

.laundry-info-container article {
  margin-left: 1em;
}

.laundry-info-container .estimated-kg {
  margin: 0.5em;
}

.laundry-info-container .estimated-kg span {
  margin: 1em;
  font-weight: bold;
  color: blue;
}

/* ************************* Contact Info *************************** */

.contact-info {
  border: 1px solid black;
  height: 40em;
  width: 63em;
  float: left;
  margin-left: 6em;
  background-color: white;
  margin-top: 3em;
}

.contact-info h2 {
  margin-left: 1em;
  margin-top: 1em;
  font-weight: bold;
}

.contact-info h4 {
  font-weight: bold;
}

.contact-info .container {
  width: 95%;
}

/* ************************* Pickup Location *************************** */

.pickup-location {
  border: 1px solid black;
  height: 35em;
  width: 63em;
  float: left;
  margin-left: 6em;
  background-color: white;
  margin-top: 3em;
}

.pickup-location h2 {
  margin-left: 1em;
  margin-top: 1em;
  font-weight: bold;
}

.pickup-location h4 {
  font-weight: bold;
}

.pickup-location .container {
  width: 95%;
}

/* ************************* Pickup Location *************************** */

.payment {
  border: 1px solid black;
  height: 30em;
  width: 63em;
  float: left;
  margin-left: 6em;
  background-color: white;
  margin-top: 3em;
}

.payment h2 {
  margin-left: 1em;
  margin-top: 1em;
  font-weight: bold;
}

.payment h4 {
  font-weight: bold;
}

.payment .container {
  width: 95%;
}

/* ************************* Request Collection *************************** */

.request-collection {
  border: 1px solid black;
  height: 15em;
  width: 63em;
  float: left;
  margin-left: 6em;
  background-color: white;
  margin-top: 3em;
}

#request-collection-info {
  margin-left: 2em;
  margin-top: 1em;
}

.request-collection button {
  width: 100%;
  background-color: #28a745;
  height: 2em;
  font-size: 2em;
}
.request-collection button:hover {
  background-color: rgb(61, 85, 85);
}

.request-collection .link {
  display: block;
  height: 100%;
  /* width: 100% */
  text-decoration: none;
  color: black;
}

.request-collection .link:hover {
  color: white;
}

/* ************************* Orders *************************** */

.orders {
  margin-top: 8em;
  width: 70em;
  text-align: center;
}

.orders table {
  margin-left: 10em;
}

/* ************************* Order *************************** */

.order {
  margin-top: 8em;
  width: 30em;
  text-align: center;
}

.order table {
  margin-left: 30em;
}

/* ************************* Order Confirmed *************************** */

.order-confirmed {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.order-confirmed .container {
  border: 1px solid black;
  height: 20em;
  width: 40em;
  margin-top: 10em;
  background-color: white;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

/* ************************* Button Link *************************** */

.order-type-link {
  width: 100%;
}

/* ************************* Button Link *************************** */
.login {
  margin-bottom: 1.5em;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #fff;
}
.loginBtn:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #dd4b39;
}
.loginBtn--google:before {
  border-right: #bb3f30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png')
    6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #e74b37;
}

.logged-in-status-text {
  margin-top: 1em;
  margin-right: 0.5em;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.logged-out {
  margin-right: 1em;
}

.logout-link {
  margin-left: 1em;
}
